name: "AOC"
on:
  push:
      paths:
        - adventofcode/**
jobs:
  launch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run all
        run: |
          cd adventofcode/2021
          python3 -m unittest discover
