name: "AOC"
on:
  push:
      paths:
        - adventofcode/**
jobs:
  launch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Run all
        run: |
          cd adventofcode/2021
          python3 -m unittest discover
