name: "AOC"
on:
  push:
      paths:
        - adventofcode/**
jobs:
  launch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Run all
        run: |
          cd adventofcode/2021
          python3 -m unittest discover
