name: "AOC"
on:
  push:
      paths:
        - adventofcode/**
jobs:
  launch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Run all
        run: |
          cd adventofcode/2021
          python3 -m unittest discover
