name: "Leetcode"
on:
  push:
      paths:
        - leetcode/**
jobs:
  launch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Run all
        run: |
          cd leetcode
          python3 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
          python test_all.py
