name: "Leetcode"
on:
  push:
      paths:
        - leetcode/**
jobs:
  launch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run all
        run: |
          cd leetcode
          python3 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
          python test_all.py
