name: "Leetcode"
on:
  push:
      paths:
        - leetcode/**
jobs:
  launch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Run all
        run: |
          cd leetcode
          python3 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
          python test_all.py
